@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp- asp-action="Administrator">Pending Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="DeliveredOrders">Delivered Orders</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Date </th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">1</th>

                        <td>15/03/2021 </td>
                        <td>andy</td>
                        <td> 4</td>
                        <td>239 </td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/0b2886ee51.js" crossorigin="anonymous"></script>
