@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<h1>Administrator page</h1>

<h3>@UserManager.GetUserAsync(User).Result.UserName</h3>