@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .col-md-12 {
        margin-bottom:50px;
    }

</style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    About us
                </h3>
                <p>A little bit about ourselfs and our story/vision for the future</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Having only read the ancient tales about the propeller cap, I was determined to set out on a journey looking for its origin. <strong>It was not easy.</strong> The journey took me all over the world and I met lots of interesting people, some of them working here with me today! It was at Chichen Itza that I found what I had been looking for all this time. The ancient tales were true. The propeller cap actually had its origin with the mayan civilization, and through their old knowledge of the world, they had infused the propeller cap with magical abilities. At first i was in awe. But i soon realized my plan on how to harness its powers. That's when i started this company.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Andreas Linné
                </h3><img class="img-thumbnail" alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                <dl>
                    <dt>Founder & CEO/Mad genius</dt>
                </dl>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Alexander Hammargren
                </h3><img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Image/Alexander.jpg" />
                <dl>
                    <dt>Web admin & design/Local drunk</dt>
                </dl>
            </div>
            <div class="col-md-8">
                <p>
                    At first i was a simple web designer, working a low end job with no future ahead of me. Then i meet Andreas and he came to me with a story.... a story that would <strong>change my perception of the world forever!</strong>
                    It started at a cafeé where he told me about this idea to start a shop selling propeller caps, first i thought himd mad. but then he showed me the possibilities and what economical gain that untapped marked had.
                    And now here we are, opening our sixth store in Sweden with plans to open up internationally! Im looking forward to showing the world our craft and to bring joy that is the propeler cap!
                    <small>Though i wish Andreas would have told me about the pact with demonic entities before i signed the blood contract</small>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <p>
                    "It was either this or keep working at the warehouse" Yahya told the interviewer. <small>Secretly though Yahya was a multi-billionare supporting the propeler cap buissnes to ensure 
                    the joy of the propeler cap is spread throughout the world</small>
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Yahya Allouhaibi
                </h3><img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Image/Yahya.jpg" />
                <dl>
                    <dt>Philanthropist/Developer</dt>
                </dl>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Jenny Wong
                </h3>
                <img class="img-thumbnail w-75" alt="Bootstrap Image Preview" src="~/Image/jenny.jpg" />
                     <dl>
                         <dt>Visionary/Communication strategist</dt>
                     </dl>
            </div>
            <div class="col-md-8">
                <p>
                    A <strong>mad visionary</strong> that travels the world 365 days a year to find both new inspiring propeler cap blueprints to freshen up the stock of Deckel Inc but also old ancient propeler caps lost in time.
                    "One day i was lost in the deserts of Egypt looking for the ancient propeler cap of Ramesses II, though a sudden sandstorm came before me and i lost my guide and gear. Now lost and thirsty i sat down awaiting my end.
                    But then i felt a hand upon my shoulder and a sudden propeler cap filled with water infront of my face. I turned around to see Andreas there smiling. He said <strong>"I have a business proposal for you."</strong>
                    And thats how i joined the company"
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <p>
                    Former athletes who made mistakes in life and started hanging out with the infamous propeller gang Las Gorra in Mexico.
                    Alex contacted me and asked me to try to smuggle out their characteristic propeller caps so that Alex saw the potential
                    to be able to sell them. Sebastian was apprehended by the gang and fled for his life but managed to get a number of their 
                    caps with him. Sebastian is now working on continuing to smuggle out their caps so that we can sell them.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Sebastian Larsson
                </h3><img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Image/Sebastian.jpg" height="200" />
                
                <dl>
                    <dt>Smuggler/Developer</dt>
                </dl>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Fisnik Haliti
                </h3><img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Image/fisnik.jpg" height="200"/>
                <dl>
                    <dt>Weapon expert/Stripper/Developer</dt>
                </dl>
            </div>
            <div class="col-md-8">
                <p>
                    I used to be in the marines. As a weapon expert it was my job to get evaluate every marine shooting skills. I got fired
                    after I mistook a bazooka for a 9mm pistol and blew up our entire camp, 10 people lost their life that day. After i got fired
                    from the marines i was down bad, and with my bad spending habits on proppeler caps i was bankrupt. I needed some money so i started
                    stripping in Amsterdam the money was pretty good but still i wasn't happy. One day i meet Alex in a "shop" ;) and he told me
                    about a business idea but i wasn't really sure if my pimp would let me go because i was employee of the month for 72 month straight
                    and he would lose alot of money. After i told him we would send him a free proppler cap he agreed to let me go. I make less money
                    now but its less work and i get to enjoy a hookah outside and have peace of mind.
                </p>
            </div>
        </div>
    </div>