@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
 <!doctype html>
 <html lang="en">

 <body class="bg-light">

     <div class="container">
         <main>
             <h2>Send your resume</h2>


             <div class="row g-5">
                 
                 <div class="col-md-7 col-lg-8">
                     
                     <form class="needs-validation" novalidate>
                         <div class="row g-3">
                             <div class="col-sm-6">
                                 <label for="firstName" class="form-label">First name</label>
                                 <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                 <div class="invalid-feedback">
                                     Valid first name is required.
                                 </div>
                             </div>

                             <div class="col-sm-6">
                                 <label for="lastName" class="form-label">Last name</label>
                                 <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                 <div class="invalid-feedback">
                                     Valid last name is required.
                                 </div>
                             </div>

                             <div class="col-12">
                                 <label for="email" class="form-label">Email</label>
                                 <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                 <div class="invalid-feedback">
                                     Please enter a valid email address.
                                 </div>
                             </div>

                             <div class="col-12">
                                  <label for="phoneNumber" class="form-label">Phone number</label>
                                  <input type="number" class="form-control" id="phonenumber" placeholder="">
                                  <div class="invalid-feedback">
                                      Please enter a valid phone number
                                  </div>
                             </div>

                             <div class="col-12">
                                 <label for="aboutYourself" class="form-label">About yourself</label>
                                 <br>
                                 <textarea rows="5" cols="60" name="description">
                                    
                                  </textarea><br>


                             </div>

                             <div class="row gy-3">


                                 <div class="col-md-6 mr-auto">
                                     
                                     <form action="/action_page.php">

                                         <label for="upload" class="form-label">Upload your resume</label>
                                         <input type="file" id="myFile" name="filename" m>
                                         <label for="upload" class="form-label"></label>
                                         


                                     </form>

                                 </div>
                                 
                                

                             </div>

                         <hr class="my-4">

                         <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
                     </form>
                 </div>
             </div>
         </main>

     </div>


     <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

     <script src="form-validation.js"></script>
 </body>


</html>
}
