<div class="container-fluid">
<h3>Contact Us</h3>
<form action="https://formsubmit.co/deckelshop@gmail.com" method="POST">
    <label for="name">Name</label>
    <input type="text" id="fname" class="form-control" name="firstname" placeholder="Your name..">

    <label for="lname">Email</label><br />
    <input type="email" class="form-control" id="email" name="email" placeholder="Your last name..">



    <label for="subject">Subject</label>
    <textarea id="subject" class="form-control" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <br />
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
