
    <style>
        .collapsible {
            background-color: #6c757d;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>

    <div class="input-group">
        <input placeholder="Search in frequently asked questions" type="search" id="search" class="form-control form-control-dark">
        <input type="button" value="Search" onclick="search(document.getElementById('search').value)">
    </div>
       
    
    
    <h2>frequently asked questions</h2>


    <button type="button" class="collapsible">Delivery time</button>
    <div class="content">
        <p>If your goods are in stock, they will be packed and sent within 24 hours.</p>
    </div>
    <button type="button" class="collapsible">Where is goods sent from</button>
    <div class="content">
        <p>The goods are sent from our main warehouse in Heidelberg</p>
    </div>
    <button type="button" class="collapsible">What are the shipping costs</button>
    <div class="content">
        <p>The shipping cost is based on which shipping method you choose at checkout</p>
    </div>
    <button type="button" class="collapsible">To what countries do you deliver</button>
    <div class="content">
        <p>We deliver to all countries</p>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        function search(string) {
            window.find(string);
        }
    </script>

