@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deckel-Shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Alex glöm inte fixa frontenden</h1>
<h2>JAG SKA GIVA DIG PÅ MOPPO!</h2>