@{
    ViewData["Title"] = "Home Page";
}
<body>

    <style>
        .carousel-item {
            height: 32rem;
            background: rgb(0, 0, 0);
            color: white;
            position: relative;
        }

        .container-p {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 50px;
        }

        .overlay-image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            opacity: 0.8;
        }
    </style>

    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" data-interval="500">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image:url(./image/HappypropelerMan.png);"></div>
                <div class="container-p">
                    <h1>True pleasure</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Labore voluptate doloribus perspiciatis vel esse! Itaque, esse labore officia nam neque ab!
                        In voluptate laborum quas quos explicabo laudantium esse architecto!
                    </p>
                    <a href="#" class="btn btn-lg btn-primary">
                        sign up today
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(./image/Surprised-propeller\ keps.jpg);"></div>
                <div class="container-p">
                    <h1>Happyness neverending</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Labore voluptate doloribus perspiciatis vel esse! Itaque, esse labore officia nam neque ab!
                        In voluptate laborum quas quos explicabo laudantium esse architecto!
                    </p>
                    <a href="#" class="btn btn-lg btn-primary">
                        sign up today
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(./image/obamahatt.jpg);"></div>
                <div class="container-p">
                    <h1>Dont be out be in!</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Labore voluptate doloribus perspiciatis vel esse! Itaque, esse labore officia nam neque ab!
                        In voluptate laborum quas quos explicabo laudantium esse architecto!
                    </p>
                    <a href="#" class="btn btn-lg btn-primary">
                        sign up today
                    </a>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" class="w-100" src="~/Image/Surprised-propeller keps.jpg" />
            </div>
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" class="w-100" src="~/Image/Happy propeler Man.png" />
            </div>
        </div>
    </div>

</body>
