<h3>Shipping information</h3>


<b>Free shipping</b>

<p>If your order exceeds SEK 1,000, it is free shipping</p>

<b>
    If your order does not exceeds SEK 1,000. At checkout you can choose delivery method from below.
</b>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/bike.jpg" height="200" width="300" />
            <p>
                Our most environmentally friendly alternative. Free delivery.
                One of our employees uses this bike and delivers to your door
                But do not expect to receive your order in the near future
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Image/plane2.jpg" height="200" width="300" />
            <p>
                Our worst alternative for the environment and the most expensive.
                Shipping fee is 200 sek. But you will get your goods within a
                couple of days
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Image/truck.jpg" height="200" width="300" />
            <p>
                Our second best alternative for the environment.
                Shipping fee is 100 sek.
                Your goods is sent by truck
                Delivery time will be between 5-14 days
            </p>
        </div>
    </div>
</div>