@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@*nav bar*@
<ul class="nav nav-tabs nav-tabs">
    <li class="nav-item ">
        <a class="nav-link" asp- asp-action="Administrator">Pending Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="DeliveredOrders">Delivered Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Admin_customerList">Customer List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Stock">Stock</a>
    </li>
</ul>


<div class="ml-auto my-2 col-lg-4">
    <div class="">
        <div class="input-group">
            <input type="text" class="form-control col-lg-6" placeholder="Search " id="tableSearch">
            <div class="input-group-append">
                <button class="input-group-text mr-1"><i class="fa fa-search"></i></button>
                <button class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal-customer" type="submit">Add Product</button>
            </div>
        </div>
    </div>

</div>




@*stock table*@

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image </th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @*
                        foreach loop för att loopa igenom listan me stock ???*@
                    <tr>
                        <th scope="row">1</th>

                        <td>
                            <img src="" class="img-fluid img-thumbnail" alt="aubergineHatt">
                        </td>
                        <td>auberginehatt</td>
                        <td>50 </td>
                        <td>79 </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-details"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal-customer"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-delete"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal-customer" tabindex="-1" aria-labelledby="exampleModalcustomer-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="DeckelModal modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @*start of form*@
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputStockID">Product ID</label>
                            <input type="text" class="form-control" id="inputCustomerID">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Product Name</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                    </div>
                    <div class="form-row">


                        <div class="form-group col-md-6">
                            <label for="inputAmount">Amount</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPrice">Price</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                    </div>
                    @*uploading image*@
                    <div>
                        <label for="inputZip">Image</label>
                        <div class="container mt-5">
                            <div class="col-sm-12 col-lg-8 mr-auto ml-auto border p-8">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label><strong>Upload Files</strong></label>
                                        <div class="custom-file">
                                            <input type="file" name="files[]" multiple class="custom-file-input form-control" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @*end of form*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>






<!--Detail Modal -->
<div class="modal fade" id="exampleModal-details" tabindex="-1" aria-labelledby="exampleModal-detailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="DeckelModal modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer info</h5>                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    @*start of form*@
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ProductID">Product ID</label>
                            <input type="text" class="form-control" id="inputCustomerID" disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputProductName">Product Name</label>
                            <input type="text" class="form-control" id="inputFirstName" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAmount">Amount</label>
                            <input type="text" class="form-control" id="inputLastName" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPrice">Price</label>
                            <input type="email" class="form-control" id="inputEmail4" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputPrice">Image</label>
                        <img src="..." alt="..." class="img-thumbnail">
                    </div>
                    @*end of form*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div><!--Delete Modal -->
<div class="modal fade" id="exampleModal-delete" tabindex="-1" aria-labelledby="exampleModal-deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="DeckelModal modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body">
                Delete Product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">JAJAMEEEEN</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>




<script src="https://kit.fontawesome.com/0b2886ee51.js" crossorigin="anonymous"></script>