@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Customer profile</h1>

<h3>@UserManager.GetUserAsync(User).Result.UserName</h3>



@model IEnumerable<Database.Models.Customer>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="CustomerOrderHistory">Order History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Identity/Account/Manage/">Manage account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

    <ul>
@foreach (var person in Model)
{
    <li>
        @person.FirstName " " @person.LastName
        <small>@person.City</small>
    </li>
}
    </ul>