@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Order History</h1>

<h3>Name of customer</h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="CustomerOrderHistory">Order History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Identity/Account/Manage/">Manage account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>



<div class="row">
    <table class="table" id="tblOrderHistory">
        <thead>
            <tr>
                <th>
                    ORDER#
                </th>
                <th>
                    ORDER STATUS
                </th>
                <th>
                    SHIPPING DATE
                </th>
                <th>
                    ORDERED BY
                </th>
                <th>
                    ORDER TOTAL
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="customerOrderHistoryTable">
            <tr>
                <td>
                    S123456789
                </td>
                <td>
                    Invoiced
                </td>
                <td>
                    2021-01-01
                </td>
                <td>
                    Customer#01
                </td>
                <td>
                    $213.23
                </td>
                <td>
                    <a data-toggle="modal" data-target="#exampleModalCenter" asp-action="Details"><i class="fas fa-list-ul"></i> Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Order #placeholder-OrderID</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*// Layout*@
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        Purchased products
                                    </h3>
                                    <hr />
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <img alt="Product image" src="https://crazycoolgadgets.com/wp-content/uploads/2016/10/Product-Review-Blog.jpg" width="50" height="50" />
                                            Item #1
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <img alt="Product image" src="https://crazycoolgadgets.com/wp-content/uploads/2016/10/Product-Review-Blog.jpg" width="50" height="50" />
                                            Item #2
                                            <span class="badge badge-primary badge-pill">2</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <img alt="Product image" src="https://crazycoolgadgets.com/wp-content/uploads/2016/10/Product-Review-Blog.jpg" width="50" height="50" />
                                            Item #3
                                            <span class="badge badge-primary badge-pill">1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Details
                            </h3>
                            <br />
                            <hr />

                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Twitter, Inc</h5>
                                    <p class="card-text">795 Folsom Ave, Suite 600 San Francisco, CA 94107</p>
                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890
                                    <br />
                                    <br />
                                    <a href="#" class="btn btn-primary">Change</a>
                                </div>
                            </div>
                            <br />
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Shipping cost: 50 kr

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Extra cost: 29 kr

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Order cost: 1550 kr
                                </li>
                            </ul>

                            <p class="font-weight-bold">Total cost: 1629 kr</p>
                        </div>
                    </div>
                </div>
                @*//layout end*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>